
   <!--<ons-page ng-controlleer="testAppController1">-->
   <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">連絡事項</div>
        </ons-toolbar>

        <div style="text-align: center">
            <h1>本部</h1>
  <div class="test1" ng-controller="testAppController1 as app">
    <h1>{{app.message}}</h1>
    <button ng-click="app.hello('App1')">Click Me</button>
  </div>

    </ons-page>

